* {
    /* REMOVING TOP AND LEFT WHITESPACE FROM THE PAGE */
    margin:0; 
    padding:0;
}

html, body {
    /* SETTING WIDTH AND HEIGHT TO THE FULL SIZE OF THE BROWSER */
    width:100%; 
    height:100%;
}

canvas {
    /* REMOVING SCROLL BARS FROM THE CANVAS */
    display:block;
}

